/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: rgb(0, 188, 212);
  min-width: 230px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

td {
	padding: 12px;
}

h1 {
  color: rgb(0, 188, 212);
}
h2 {
	color: rgb(0, 188, 212);
}

.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 46px; }
td.fuel-savings-label { width: 175px; }

.categories-toolbar {
  width: 100vw;
}

.category-title{
  padding-right: 50vw;
}

.categories-list-items {
  padding-top: 2vw;
  padding-left: 2vw;
}
.category-list {
  width: 50vw;
}
.category-view {
  padding-left: 2vw;
  align-self: flex-start;
  color: rgb(0, 188, 212);
}
.categories-view {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.category-add{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
.category-add-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-class{
  padding-left: 5vw;
}
.category-details-header{
  padding-top: 1.5vw;
}
.category-details{
  font-weight: 600;
}
.list-item {
  color: rgb(0, 188, 212);
}

