<!DOCTYPE html>
<html lang="en">
<head>
  <% if (htmlWebpackPlugin.options.trackJSToken) { %>
  <script>window._trackJs = {token: '<%= htmlWebpackPlugin.options.trackJSToken %>'};</script>
  <script src="https://d2zah9y47r7bi2.cloudfront.net/releases/current/tracker.js"></script>
  <% } %>
  <link rel="icon" href="https://4.bp.blogspot.com/-J6eJTj6Ccoc/V5JGZCaZlYI/AAAAAAAAFc4/kidJup6oAtgBXqA2V1He8BH3BciP8I4xwCLcB/s1600/photo.jpg">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <title>myLocations</title>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyAo6vbq8k-VsAvoHCOrzh_Q1H2yQ-01qeU&libraries=geometry,places,visualization"></script>
</head>
<body>
<div id="app"></div>
</body>
</html>
